.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  flex: 1;
  font-weight: 700;
  font-size: 1.5rem;
}

.display {
  display: flex;
  flex-flow: column wrap;
}

.typeAheadContainer {
  margin: 0 auto;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem 0;
  grid-gap: 3rem;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  padding: 2rem;
  /* ASK GUILHERME ABOUT WHY THIS DOESNT WORK. FIRST COL TOO BIG */
}

.card:hover {
  scale: 1.03;
}

.cardImage {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.card img {
  object-fit: contain;
}

@media (max-width: 767px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
